.product {
    width: 1200px;
    margin: 0 auto;
    margin-top: 60px;
}
.productContent {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}
.productCard {
    width: 378px;
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
    padding: 8px;
    box-sizing: border-box;
    position: relative;
}
.productCard:hover {
    transform: scale(1.05);
    box-shadow: 0 0 5px #ccc;
}
.productImg {
    width: 100%;
}
.productText {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #888888;
    margin-bottom: 12px;
}
.productName {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 9px;
}
.productPrice {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #050505;
}
.productBag {
    position: absolute;
    top: 15;
    right: 20;
}
.productBox {
    display: flex;
    justify-content: space-between;
}
.productPriceSale {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #6f6f6f;
    text-decoration: line-through;
}
